@model Aiia.Sample.Models.PaymentsViewModel
@{
    ViewBag.Title = "Payments";
    Layout = "_Layout";
}

<section class="jumbotron text-center">
    <div class="row justify-content-md-center">

        <ul class="nav nav-pills mb-4">
            <li class="nav-item">
                <a class="nav-link"
                   role="button"
                   href="@Url.Action("CreateInboundPayment", "InboundPayment")"
                   id="create-payment-button"
                   style="cursor: pointer;">
                    Create inbound Payment
                </a>
            </li>
        </ul>
    </div>
</section>
<div class="row">

    <div class="col">
        @if (Model?.PaymentsGroupedByAccountDisplayName == null || !Model.PaymentsGroupedByAccountDisplayName.Any())
        {
            <p class="text-center">
                There are no payments made through aiia for connected accounts. Try @Html.ActionLink("creating a payment", "CreateInboundPayment", "InboundPayment", null, null)
            </p>
        }
        else
        {
            foreach (var group in Model.PaymentsGroupedByAccountDisplayName)
            {
                <div class="card mb-3">
                    <div class="card-header">
                        Account: @group.Key.Name
                    </div>
                    <div class="card-body">
                        @foreach (var payment in Model.PaymentsGroupedByAccountDisplayName[group.Key])
                        {
                            <div class="media bg-light mb-2 w-100"
                                 onclick="window.location.href = '@Url.Action("PaymentDetails", "InboundPayment", new { accountId = group.Key.Id, paymentId = payment.Id })'">

                                <div class="media-body ml-3" style="cursor: pointer">
                                    <p class="mt-3">@payment.Id</p>
                                    <p>@(payment.Status?.PaymentStatusCode ?? "Unknown Status")</p>
                                    
                                    @if (payment?.Execution?.Amount != null)
                                    {
                                        <p>
                                            <small>@payment.Execution.Amount.Value @group.Key.Booked.Currency</small>
                                        </p>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        }
    </div>
</div>