@model ViiaSample.Models.Viia.Transaction

@{
    ViewBag.Title = Model.Text ?? Model.OriginalText;
    Layout = "_Layout";
}

<h2></h2>

<div class="d-flex flex-wrap">
    @if (Model.Date != null)
        {
            <div class="card detail-card">
                <div class="card-body">
                    <h5 class="card-title">Transaction Date</h5>
                    <span class="card-text">@Model.Date.ToString()</span>
                </div>
            </div>
        }
    @if (Model.TransactionAmount != null)
    {
        <div class="card detail-card">
            <div class="card-body">
                <h5 class="card-title">Transaction Amount</h5>
                <span class="card-text">@Model.TransactionAmount.Value @Model.TransactionAmount.Currency</span>
            </div>
        </div>
    }
    @if (Model.Balance != null)
    {
        <div class="card detail-card">
            <div class="card-body">
                <h5 class="card-title">Account Balance</h5>
                <h6 class="card-subtitle mb-2 text-muted">After transaction</h6>
                <span class="card-text">@Model.Balance.Value @Model.Balance.Currency</span>
            </div>
        </div>
    }
    <div class="card detail-card">
        <div class="card-body">
            <h5 class="card-title">Transaction text</h5>
            <div>
                <b>Original transaction text: </b>@Model.OriginalText <br/>
                <span><b>Cleaned transaction text</b></span> @Model.Text
            </div>
        </div>
    </div>
    <div class="card detail-card">
        <div class="card-body">
            <h5 class="card-title">Transaction Type</h5>
            <span class="card-text">@Model.Type</span>
        </div>
    </div>

    <div class="card detail-card">
        <div class="card-body">
            <h5 class="card-title">Transaction State</h5>
            <span class="card-text">@Model.State</span>
        </div>
    </div>

    @if (Model.Detail?.Source != null)
        {
            <div class="card detail-card">
                <div class="card-body">
                    <h5 class="card-title">Transaction Destination</h5>
                    <div>
                        <b>Name:</b> @Model.Detail.Source.Name <br/>
                        <b>Address:</b> @Model.Detail.Source.Address
                    </div>
                </div>
            </div>
        }

    @if (Model.Detail?.Destination != null)
    {
        <div class="card detail-card">
            <div class="card-body">
                <h5 class="card-title">Transaction Destination</h5>
                <div>
                    <b>Name:</b> @Model.Detail.Destination.Name <br/>
                    <b>Address:</b> @Model.Detail.Destination.Address
                </div>
            </div>
        </div>
    }
    
    @if (Model.Detail?.ExecutionDate != null)
    {
        <div class="card detail-card">
            <div class="card-body">
                <h5 class="card-title">Transaction Execution Date</h5>
                <span class="card-text">Model.Detail.ExecutionDate.ToString()</span>
            </div>
        </div>
    }

    @if (Model.Detail?.Identifiers != null)
    {
        <div class="card detail-card">
            <div class="card-body">
                <h5 class="card-title">Transaction Identifiers</h5>
                <div>
                    <b>Creditor Reference:</b> @Model.Detail.Identifiers.CreditorReference <br/>
                    <b>Document:</b> @Model.Detail.Identifiers.Document <br/>
                    <b>End To End Id:</b> @Model.Detail.Identifiers.EndToEndId <br/>
                    <b>Reference:</b> @Model.Detail.Identifiers.Reference <br/>
                    <b>Sequence Number:</b> @Model.Detail.Identifiers.SequenceNumber <br/>
                    <b>Terminal:</b> @Model.Detail.Identifiers.Terminal 
                </div>
            </div>
        </div>
    }
    
    @if (Model.Detail?.Message != null)
    {
        <div class="card detail-card">
            <div class="card-body">
                <h5 class="card-title">Transaction Message</h5>
                <span class="card-text">@Model.Detail.Message</span>
            </div>
        </div>
    }
    
    @if (Model.Detail?.Reward != null)
    {
        <div class="card detail-card">
            <div class="card-body">
                <h5 class="card-title">Transaction Reward</h5>
                <div>
                    <b>Type:</b> @Model.Detail.Reward.Type <br/>
                    @if (Model.Detail.Reward.Amount != null)
                    {
                        <b>Amount:</b> @Model.Detail.Reward.Amount.Value @Model.Detail.Reward.Amount.Currency <br/>
                    }
                    @if (Model.Detail.Reward.Points != null)
                    {
                        <b>Points:</b> @Model.Detail.Reward.Points
                    }
                </div>
            </div>
        </div>
    }
    
</div>