@model System.Collections.Generic.IEnumerable<ViiaSample.Models.Viia.Transaction>

@{
    ViewBag.Title = "Transactions";
    Layout = "_Layout";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Transaction Amount</th>
            <th scope="col">Account Balance</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model.OrderByDescending(x => x.Date?.ToUnixTimeMilliseconds()))
        {
            <tr>
                <td>@transaction.Text</td>
                <td>@transaction.TransactionAmount.Value @transaction.TransactionAmount.Currency</td>
                <td>@transaction.Balance?.Value @transaction.Balance?.Currency </td>
                <td>@transaction.Date?.ToString("f")</td>
            </tr>
        }
</table>