@model Aiia.Sample.Controllers.ViewWebhooksViewModel

@{
    ViewBag.Title = "Webhooks list";
    Layout = "_Layout";
}

<h1 class="text-center">Webhooks</h1>
<p class="text-center">This page shows a list of all the webhooks that the system received. </p>

<div class="row">

    <div class="col">
        @if (Model.Webhooks.Count == 0)
        {
            <div class="text-center">No webhooks have been received yet</div>
        }
        @foreach (var group in Model.Webhooks)
        {
            <div class="card mb-3">
                <div class="card-header">
                    <span style="color:dimgray; margin-right: 1em">@group.Id</span> 
                    @group.EventType 
                </div>
                <div class="card-body">
                    <textarea rows="5" disabled="disabled" style="width: 100%; height: 10em; color: black">@group.DataAsJson</textarea>
                    <div style="color:dimgray; margin-left: 2em">
                        Signature: @group.Signature<br/>
                        Timestamp: @group.Timestamp <br/>
                        Event id: @group.EventId <br/>
                        Received at: @group.ReceivedAt
                    </div>
                </div>
            </div>
        }
    </div>
</div>