@model Aiia.Sample.Models.ObjectDetailsViewModel
@{
    ViewBag.Title = Model.ObjectTypeName;
    Layout = "_Layout";
}

<div class="row">
    <div class="col">
        @if (Model == null)
        {
            <h1>Item not found</h1>
            <p>An error might have occcurred when displaying the details of this object</p>
        }
        else
        {
            <h1>@Model.ObjectTypeName @Model.Id</h1>
            @if (Model.PayerToken != null)
            {
                <button class="btn btn-primary" style="margin: 1rem 0;"
                        onclick="location.href='@Url.Action("CreateInboundPayment", "Payment", new { payerToken = Model.PayerToken.PayerToken })'">
                    Create payment with payer token
                </button>
            }
            
            <table id="payment-details-table" class="table">
                @foreach (var property in Model.FlattenedObjectProperties)
                {
                    <tr>
                        <td style="width: 30%">@property.Key</td>
                        <td style="width: 70%; overflow: scroll;">@property.Value</td>
                    </tr>
                }
            </table>
        }
    </div>
</div>
